/* style of effects */
.main_detail {
  padding-top: 25px;
}

#content-wrapper {
  display: flex;
}

.description__product {
  width: 50%;
}

.column {
  width: 600px;
  padding: 10px;
}

#featured {
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  width: 100%;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 70px;
  cursor: pointer;
  opacity: 0.5;
  border: 2px solid #ccc;
  margin: 0 7px 8px 0px;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;

  min-height: 50px;
}

#slider {
  display: flex;

  flex-direction: column-reverse;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
  border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
  background-color: #18b5ce;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

/* style of info product */

.title_product {
  font-size: 20px;
  font-family: roboto;
  margin-top: 0;
}

.description_product {
  margin-top: 00;
  color: #929292;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.title_price {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 5px;
}

.price_normal{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  padding-right: 5px;
  font-size: 14px;
}

.price_normal-number{
  text-decoration: line-through;
}


.price_internet {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #6c5ce7;
}

.puntos__internet {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  line-height: 28px;
  padding-right: 5px;
  font-size: 14px;
}

.product-discount-tag {
  position: absolute;
  text-align: center;
  background: #6c5ce7;
  right: 5px;
  margin: 0;
  color: #fff;
  font-size: 14px;
  min-width: 40px;
  z-index: 2;
}

.product-discount-tag:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-right-color: #6c5ce7;
  border-width: 15px;
  margin-top: -15px;
}


.colors__product {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-top: 10px;
}

.colors__product-title {
  font-size: 19px;
  color: #5710b5;
  margin-bottom: 5px;
  font-weight: 500;
}

.color-type {
  display: flex;
}

.style-color {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  margin: 0 5px;
  min-width: 100px;
  text-align: center;
}

.talla__product {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-top: 10px;
}
.talla___product-title {
  font-size: 19px;
  color: #5710b5;
  margin-bottom: 5px;
  font-weight: 500;
}

.talla-type {
  display: flex;
}

.style-talla {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  margin: 0 5px;
  text-align: center;
}
.btn_compra_quanty {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 24px;
}

.btn-add {
  display: contents;
}

.modal-detail {
  display: flex;
  justify-content: space-between;
}

.content_color-talla {
  display: flex;
  justify-content: space-between;
}

.color-talla-defa {
  width: 50%;
  margin: 0 5px;
}
/* end style of effects */


.detail_content{
  width: 1140px;
  max-width:  1140px;
  margin: 0 auto;
}

.col-5{
  padding: 0 15px;
}

.summary {
  padding-top: 15px;
  padding-bottom: 15px;
}

.buttonCantidad{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  height: 48px;
  border-radius: 5px 0px 0px 5px;
}

.campInputbtn{
  width: 40%;
  text-align: center;
}

.in-btn, .des-btn{
  height: 100%;
    width: 30%;
    border: none;
    background: transparent;
    font-size: 21px;
    color: #6d6d6d;
}

.in-btn:focus{
  outline: none;
}
.des-btn:focus{
  outline: none;
}


/* style select delivery */
.select_delivery{
  width: 100%;
  height: 44px;
  border: transparent;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  color: #6a6a6a;
}

.select_delivery:focus{
  outline: none;
}

.selectLabel{
  font-size: 12px;
  color: #6c5ce7;
  font-weight: 700;
  margin: 0 0 0 10px;
}


/* style select delivery */

@media screen and (max-width: 1140px) {
  .detail_content{
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 992px) {
  .thumbnail {
    max-height: 50px;
  }
  
}

@media screen and (max-width: 992px) {
  .thumbnail {
    max-height: 50px;
  }
  
}
@media screen and (max-width: 920px) {
  .content_color-talla{
    display: initial;
  }
  .color-talla-defa {
    width: 100%;
    margin: 8px 0;
}
  
}

@media screen and (max-width: 769px) {
  .detail_content {
    max-width: 576px;
    margin: 0 auto;
    padding: 0 15px;
}
  .grid_image{
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  #content-wrapper {
    display: initial;
  }
  #slider {
    display: initial;
    margin: 0 auto;
}
}
@media screen and (max-width: 544px) {
  .colors__product {
    display: none;
  }
  .btn_compra_quanty {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 40;
    margin-top: 0;
    width: 100%;
  }
  .buttonCantidad{
    height: 48px;
    background-color: white;
  }

  .selectarea {
    width: 100%;
    position: fixed;
    padding: 15px 10px;
    bottom: 42px;
    left: 0;
    background: #f9f9f9;
    -webkit-box-shadow: 0 4px 20px 0 #4b4a4a;
    box-shadow: 0 4px 20px 0 #4b4a4a;
    z-index: 40;
    display: flex;
  }
  .select_content{
    width: 50%;
  }
  .separador{
    background-color: #ccc;
    padding: 0 1px;
    margin: 0 5px;
  }

  .column-footer {
    grid-template-columns: repeat(1, 1fr);
}
}