.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  transition: 2s;
}

.Modal__container {
  position: relative;
  top: 10rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #a5a5a5;
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s, 3s, 5s;
  transition-delay: 10s;
}

.Modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
}

.element__icon {
  background-color: #54b268;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.element__description {
  text-align: center;
}

.btn-gocart {
  text-decoration: none;
}

.element__sale {
  font-size: 15px;
  color: #54b268;
  font-weight: 700;
  padding: 0px 37px;
  text-align: center;
  justify-content: center;
}

.continure_sale {
  padding-top: 22px;
  color: #4539ab;
}

.continure_sale a:hover {
  color: #4539ab;
}
