/* style place */
.place{
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
}

.title_place-consulta{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.district{
  padding-bottom: 13px;
  border-bottom: .5px solid #dedede;
  display: flex;
  justify-content: space-between;
  color: #6c5ce7;
  font-weight: 500;
}

.district_change{
  color: #bcbcbc;
  font-size: 12px;
  cursor: pointer;
}

.despacho{
  padding: 10px 0;
  border-bottom: 2px solid white;
}

.despacho .despacho_normal{
 font-weight: 800;
}
.disponible span {
  font-size: 15px;
}

.delivery_price span{
  font-size: 13.5px;
}

.retiro{
  padding-top: 10px;
}

.place-active{
  display: auto;
}
.place-close{
  display: none;
}

.district_title{
  display: flex;
  align-items:  center;
}

.img-ubicacion{
  height: 35px;
}

.avaible-chkeck{
  display: flex;
  align-items: center;
}

.place-svg{
  height: 32px;
  margin-right: 8px;
}

.button_content-save{
  justify-content: center;
  text-align: center;
  padding-top: 19px;
}

.button-save{
  width: 32%;
  color: white;
  background: #6c5ce7;
  border: none;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

/* end style place */
@media screen and (min-width: 544px) {
  .place-mobile{
    display: none;
  }
}


@media screen and (max-width: 544px) {
  .place-mobile{
    display: auto;
  }
  .place-desktop{
    display: none;
  }
 
}
